<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="tr.com.ecenk.tehlikeliMal.domain"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--<prop key="hibernate.default_schema">${aks.kys.hibernate.default_schema}</prop>-->
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--<prop key="hibernate.cache_provider_class">${aks.kys.hibernate.cache_provider_class}</prop>-->
                <!--<prop key="hibernate.auto_commit">${aks.kys.hibernate.auto_commit}</prop>-->
                <!--<prop key="hibernate.connection.charSet">${aks.kys.hibernate.charset}</prop>-->
                <!--<prop key="hibernate.connection.defaultNChar">${aks.kys.hibernate.default_nchar}</prop>-->
            </props>
        </property>
    </bean>
    <jee:jndi-lookup id="dataSource" jndi-name="jdbc/postgresCenk" expected-type="javax.sql.DataSource"/>

    <context:component-scan base-package="tr.com.ecenk.tehlikeliMal" />
    <context:annotation-config/>
    <context:spring-configured/>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--<tx:jta-transaction-manager/>-->
    <!--<task:annotation-driven/>-->



</beans>